@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Azeret Mono", monospace;
}
/*banner section style begins here*/
.banner-container{
    max-width: 1440px;
    margin: 0px auto;
    min-height: 600px; 
    margin-top: 119px;
    background-image: url('/assignment-file/assets/Hero-bg.png');
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}
.banner-content{
   display: flex;
   flex-direction: column;
   height: 581px;
   align-items: center;
   margin-top: 38px;
   padding: 30px;
   }
.banner-content h1{
    font-weight: 1200;
    font-size: 38px;
   }
.banner-content p{
    width: 852px;
    height: 52px;
    font-size: 16px;
    margin: 24px;
    }
.banner-content button{
    margin: 24px;
    padding: 15px 24px; 
    font-weight: 600px;
    color: white;
    background-color: black;
    }
/*banner content ends here*/
/*web development starts here*/
.border-area{
    border: 2px solid red;
    background-color: rgb(13, 19, 33, 2%);
    max-width: 1140px;
    height: 1300px;
    margin: 0px auto;
    margin-top: 90px;
    
} 
.web-dev-container{
    border: 2px solid red;
    gap: 80px;
    margin: 0px auto;
    margin-top: 80px;
    width: 946px;
    height: 1233px; 
}
.web-dev-content p,h2{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    
} 
.web-dev-content h3{
    font-weight: 800px ;
    font-size: 32px;
    max-width: 852px;
    height: 55px;
}

.web-dev-content p{
    width: 800px;
    font-size: 16px;
    margin-top: 40px;
    color: black;
    }
    /*web development ends here*/
    /*first part starts here*/
.leftside-content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 246px;
    border: 2px solid purple;
    }
.leftside-content h6{
    color:#111314b4;
    font-weight: 200px;
    font-size: 20px;
    margin-top: 40px;
    max-width: 390px;
    height: 48px;
    margin-left: 0%;
}
.leftside-content p{
    color: black;
    margin-top: 10px;
}
.leftside-content button{
    max-width: 171px;
    height: 40px;
    margin-top: 10px;
    font-weight: 300px;
    font-size: 15px;
    padding: 10px 10px;
}
.rightside-content{
    max-width: 264px;
    height: 246px;
    background-repeat: no repeat;
    background-size: cover;
    border: 2px solid green;
    margin-left: 128px;
 }
 .part1-side{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    max-width: 946px;
    height: 246px;
    margin: 40px;
    border: 2px solid red;
    background-color: #f8efef;
    }
    /*first part ends here*/
    /*second part start here*/
.part2-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 946px;
    height: 250px;
    margin: 40px;
    border: 2px solid red;
    background-color: #f8efef;
    }
.leftside-content1{
    max-width: 264px;
    height: 246px;
    background-repeat: no repeat;
    background-size: cover;
    border: 2px solid green;
    margin-right: 128px;
}
.rightside-content1 {
    border: 2px solid purple;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
     }
.rightside-content1 h6{
    color:#111314b4;
    font-weight: 200px;
    font-size: 20px;
    max-width: 100%;
    margin-top: 40px;
   
}
.rightside-content1 p{
    margin-top: 20px;
    color: black;
    max-width: 480px;
    }
.rightside-content1 button{
    max-width: 171px;
    height: 40px;
    margin-top: 10px;
    font-weight: 300px;
    font-size: 15px;
    padding: 10px 10px;
}

/*second part ends here*/